header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: 100000;
  /* nav {
    display: none;

    ul {
      display: flex;
      gap: 24px;

      li.selected {
        color: $color-rosa-yume;
      }

      li {
        transition: all 0.2s ease-in;

        &:hover {
          color: $color-rosa-yume;
        }
      }
    }
  } */
}
header > div {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  header > div {
    padding: 20px 0;
  }
}
header a {
  line-height: 0;
}
header img {
  max-height: 28px;
}
@media (min-width: 768px) {
  header img {
    max-height: 32px;
  }
}
header button {
  padding: 0;
  background-color: transparent;
}
header button:hover {
  background-color: transparent !important;
}
header nav:first-of-type {
  padding-top: 96px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  transition: all 0.5s ease;
  transform: translateX(100%);
  background: rgba(255, 255, 255, 0.99);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: -1;
}
header nav:first-of-type ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-items: center;
}
header nav:first-of-type ul li {
  padding: 0 24px;
  height: 50px;
  line-height: 40px;
  border-left: 8px solid transparent;
  font-size: 18px;
  transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
header nav:first-of-type ul li:hover {
  color: #FF4A71;
}
header nav:first-of-type ul li.selected {
  color: #FF4A71;
}
header nav:last-of-type {
  display: none;
}
header nav:last-of-type ul {
  display: flex;
  gap: 24px;
}
header nav:last-of-type ul li.selected {
  color: #FF4A71;
}
header nav:last-of-type ul li {
  transition: all 0.2s ease-in;
}
header nav:last-of-type ul li:hover {
  color: #FF4A71;
}
@media (min-width: 768px) {
  header button {
    display: none;
  }
  header nav:first-of-type {
    display: none;
  }
  header nav:last-of-type {
    display: flex;
  }
}

footer {
  background-color: #000000;
  color: #F4F4F4;
  padding: 98px 0 54px;
}
footer > div {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: grid;
  gap: 80px;
}
footer > div > div:first-of-type {
  display: grid;
  gap: 54px;
}
@media (min-width: 1024px) {
  footer > div > div:first-of-type {
    grid-template-columns: 1fr 64px 202px 306px;
    gap: 88px;
  }
}
footer > div > div:first-of-type strong {
  color: #FFFFFF;
  display: block;
  margin-bottom: 24px;
}
footer > div > div:first-of-type svg {
  margin-bottom: 24px;
}
footer > div > div:first-of-type p {
  color: #CCCCCC;
}
footer > div > div:first-of-type > div:first-of-type ul {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
footer > div > div:first-of-type > div:not(:first-of-type) li {
  margin-bottom: 12px;
  color: #CCCCCC;
}
footer > div > div:last-of-type {
  border-top: 1px solid #CCCCCC;
  padding-top: 40px;
  text-align: center;
}

button {
  padding: 16px 32px;
  background-color: #FF4A71;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 100px;
  transition: background-color 0.3s ease-in;
}
button:hover {
  background-color: #FF6986;
}

.testimonials_container > div {
  margin: 0;
  width: 100%;
}
@media (min-width: 1024px) {
  .testimonials_container > div {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}
.testimonials_container > div > * {
  padding-left: 20px;
}
.testimonials_container > div strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}
.testimonials_container > div h2 {
  margin-bottom: 56px;
}
@media (min-width: 1024px) {
  .testimonials_container > div h2, .testimonials_container > div strong {
    display: block;
    text-align: center;
  }
  .testimonials_container > div h2 {
    margin-bottom: 72px;
  }
}
.testimonials_container > div small {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #1E1E1E;
  opacity: 0.7;
  margin-top: 80px;
  margin-bottom: 48px;
}
.testimonials_container > div > ul:first-of-type {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
  grid-auto-columns: 80%;
  gap: 24px;
  padding-right: 20px;
  /* div */
}
@media (min-width: 1024px) {
  .testimonials_container > div > ul:first-of-type {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .testimonials_container > div > ul:first-of-type {
    grid-auto-columns: 44%;
    padding-bottom: 4px;
  }
}
.testimonials_container > div > ul:first-of-type li {
  height: 300px;
  background-color: #F4F4F4;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  transition: all 0.5s ease-in;
}
.testimonials_container > div > ul:first-of-type li:hover {
  background-color: #FFF0F2;
}
.testimonials_container > div > ul:first-of-type li p {
  line-height: 20px;
}
.testimonials_container > div > ul:first-of-type li span {
  color: #FF4A71;
}
.testimonials_container > div > ul:last-of-type {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
  grid-auto-columns: 80%;
  grid-auto-columns: 60%;
}
@media (min-width: 1024px) {
  .testimonials_container > div > ul:last-of-type {
    grid-template-columns: repeat(5, 1fr);
  }
}
.testimonials_container > div > ul:last-of-type > * {
  align-self: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .testimonials_container > div > ul:last-of-type {
    grid-auto-columns: 29%;
    padding-bottom: 4px;
  }
}
@media (min-width: 1024px) {
  .testimonials_container > div > ul:last-of-type {
    display: flex;
    justify-content: space-between;
  }
}

.form_container {
  position: relative;
  padding-bottom: 380px;
}
.form_container > div {
  background-color: #FF4A71;
  color: #FFFFFF;
  border-radius: 24px;
  padding-top: 96px;
  display: grid;
  gap: 56px;
}
@media (min-width: 1024px) {
  .form_container > div {
    grid-template-columns: 1fr 400px;
    gap: 56px;
    padding: 96px;
    height: 530px;
  }
}
.form_container > div > div {
  width: 100%;
  max-width: calc(100% - 64px);
  margin: auto;
}
@media (min-width: 1024px) {
  .form_container > div > div {
    max-width: 100%;
    margin: 0;
  }
}
.form_container > div > div span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 16px;
}
.form_container > div > div h4 {
  font-size: 28px;
}
@media (min-width: 1024px) {
  .form_container > div > div h4 {
    font-size: 42px;
  }
}
.form_container form {
  background-color: #FFFFFF;
  color: #000000;
  padding: 48px 32px 48px;
  border-radius: 24px;
  border: 1px solid #F4F4F4;
}
.form_container form strong {
  font-size: 24px;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}
.form_container form div {
  background-color: #fff;
  display: grid;
  border: 1px solid #F4F4F4;
  border-radius: 24px;
  margin-bottom: 24px;
}
.form_container form div input {
  all: unset;
  padding: 16px;
}
.form_container form div input:not(:first-of-type) {
  border-top: 1px solid #F4F4F4;
}
.form_container form textarea {
  all: unset;
  border-radius: 24px;
  padding: 16px;
  height: 120px;
}
.form_container form button {
  margin-top: 32px;
  width: 100%;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Semibold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 42px;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 32px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 56px;
  }
}

h1, h2, h3, h4 {
  font-weight: 600;
}

strong {
  font-size: 18px;
}
@media (min-width: 1024px) {
  strong {
    font-size: 24px;
  }
}

p {
  font-size: 14px;
  color: #1E1E1E;
  opacity: 0.7;
}
@media (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}

strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}

section {
  padding: 120px 0;
}
section > * {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

a {
  transition: color 0.5s ease;
}
a svg {
  transition: transform 0.5s ease;
}
a:hover {
  color: #FF6986 !important;
}
a:hover svg {
  transform: translateX(4px);
}
a:hover svg path {
  fill: #FF6986 !important;
}

.home_container > div {
  margin: 0;
  width: 100%;
  display: grid;
  gap: 54px;
  padding: 0px;
}
.home_container > div > * {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .home_container > div {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .home_container > div > * {
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .home_container > div {
    grid-template-columns: 620px 1fr;
  }
}
.home_container > div strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}
.home_container > div h1 {
  font-size: 36px;
  letter-spacing: -1.7px;
}
@media (min-width: 768px) {
  .home_container > div h1 {
    font-size: 58px;
  }
}
.home_container > div > div:nth-of-type(1) > ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
  grid-auto-columns: 80%;
  gap: 24px;
  grid-auto-columns: 60%;
  padding-top: 8px;
  margin-top: 54px;
}
@media (min-width: 1024px) {
  .home_container > div > div:nth-of-type(1) > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
.home_container > div > div:nth-of-type(1) > ul > * {
  transition: transform 0.5s ease;
}
.home_container > div > div:nth-of-type(1) > ul > *:hover {
  transform: translateY(-8px);
}
.home_container > div > div:nth-of-type(1) > ul > *:active {
  transform: translateY(0px);
}
@media (min-width: 768px) {
  .home_container > div > div:nth-of-type(1) > ul {
    display: flex;
    gap: 32px;
  }
}
@media (min-width: 1024px) {
  .home_container > div > div:nth-of-type(1) > ul {
    order: 2;
  }
}
.home_container > div > div:nth-of-type(1) > ul span {
  font-size: 24px;
  color: #FF4A71;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 12px;
}
.home_container > div > div:nth-of-type(2) {
  width: calc(100% - 40px);
  height: 350px;
  position: relative;
  /* & > * {
    cursor: pointer;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.03);
    }
  } */
  cursor: pointer;
  transition: transform 0.5s ease;
}
@media (min-width: 768px) {
  .home_container > div > div:nth-of-type(2) {
    width: 100%;
    height: 480px;
  }
}
.home_container > div > div:nth-of-type(2):hover {
  transform: scale(1.03);
}
.home_container > div > div:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.home_container > div > div:nth-of-type(2) div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 280px;
  height: 40px;
  padding: 0 16px;
  border-radius: 100px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
@media (min-width: 768px) {
  .home_container > div > div:nth-of-type(2) div {
    bottom: 40px;
    right: 40px;
  }
}
.home_container > div > div:nth-of-type(2) div span {
  font-size: 14px;
}
.home_container > div > div:nth-of-type(2) div img {
  width: 24px;
  height: 24px;
}

.story_container > div {
  display: grid;
  gap: 64px;
}
.story_container > div strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .story_container > div {
    grid-template-columns: 250px 1fr;
  }
}
@media (min-width: 1024px) {
  .story_container > div {
    grid-template-columns: 420px 1fr;
    gap: 120px;
  }
}
.story_container > div > div:first-of-type div {
  position: sticky;
  top: 124px;
  z-index: 100;
}
.story_container > div > div:first-of-type div button {
  display: none;
}
@media (min-width: 1024px) {
  .story_container > div > div:first-of-type div button {
    margin-top: 24px;
    display: block;
  }
}
.story_container > div > div:last-of-type button {
  margin-top: 56px;
}
@media (min-width: 1024px) {
  .story_container > div > div:last-of-type button {
    display: none;
  }
}
.story_container > div p {
  line-height: 20px;
}
@media (min-width: 1024px) {
  .story_container > div p {
    line-height: 24px;
  }
}
.story_container > div p + p {
  margin-top: 16px;
}

.team_container > div strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}
.team_container > div img {
  width: 100%;
}
.team_container > div > div:first-of-type {
  margin-bottom: 72px;
}
.team_container > div > div:nth-of-type(2) {
  display: grid;
  gap: 48px;
}
@media (min-width: 1024px) {
  .team_container > div > div:nth-of-type(2) {
    grid-template-columns: 176px 400px 1fr;
  }
}
.team_container > div > div:nth-of-type(2) > div:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media (min-width: 1024px) {
  .team_container > div > div:nth-of-type(2) > div:nth-of-type(1) {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(2, 80px);
  }
}
.team_container > div > div:nth-of-type(2) > div:nth-of-type(1) img {
  opacity: 0.4;
  filter: grayscale(100%);
  border-radius: 16px;
  cursor: pointer;
}
.team_container > div > div:nth-of-type(2) > div:nth-of-type(1) img.selected {
  opacity: 1;
  filter: grayscale(0%);
}
.team_container > div > div:nth-of-type(2) > div:nth-of-type(2) img {
  display: none;
  border-radius: 16px;
}
.team_container > div > div:nth-of-type(2) > div:nth-of-type(2) img.selected {
  display: inherit;
}
.team_container > div aside {
  display: none;
}
.team_container > div aside.selected {
  display: inherit;
}
.team_container > div aside h3 {
  font-size: 24px;
  margin-bottom: 4px;
}
.team_container > div aside span {
  color: #FF4A71;
  font-weight: 600;
}
.team_container > div aside p {
  margin-top: 16px;
  line-height: 20px;
}
@media (min-width: 1024px) {
  .team_container > div aside p {
    line-height: 24px;
  }
}

.evolution_container {
  background-color: #000000;
  color: #FFFFFF;
}
.evolution_container > div {
  margin: 0;
  width: 100%;
  max-width: inherit;
}
.evolution_container > div > * {
  padding-left: 20px;
}
@media (min-width: 768px) {
  .evolution_container > div > * {
    padding-left: 10%;
  }
}
.evolution_container > div > div:first-of-type {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.evolution_container > div > div:first-of-type > strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}
.evolution_container > div > div:first-of-type div:last-of-type {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
}
@media (1024px) {
  .evolution_container > div > div:first-of-type div:last-of-type {
    display: block;
  }
}
.evolution_container > div > div:last-of-type {
  margin-top: 56px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
  grid-auto-columns: 80%;
}
@media (min-width: 1024px) {
  .evolution_container > div > div:last-of-type {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .evolution_container > div > div:last-of-type {
    grid-auto-columns: 48%;
  }
}
@media (min-width: 1024px) {
  .evolution_container > div > div:last-of-type {
    grid-template-columns: inherit;
    grid-auto-columns: 30%;
  }
}
.evolution_container > div > div:last-of-type > div > div {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 32px;
}
.evolution_container > div > div:last-of-type > div > div span {
  font-size: 24px;
  color: #FF4A71;
  font-weight: 600;
  padding: 0 8px;
}
.evolution_container > div > div:last-of-type > div > div div {
  width: 100%;
  height: 1px;
  background-color: #CCCCCC;
}
.evolution_container > div > div:last-of-type strong {
  color: #FFFFFF;
}
.evolution_container > div > div:last-of-type p {
  color: #CCCCCC;
  margin-top: 8px;
  margin-right: 48px;
}/*# sourceMappingURL=index.css.map */