@import "../../components/index";

.home_container {
  background-color: $color-preto;
  color: $color-branco;

  padding-bottom: 180px;

  /* @media (min-width: $breakpoint-medium) {
    padding-bottom: 0;
  } */

  & > div {
    & > div:first-of-type {
      margin-bottom: 80px;

      @media (min-width: $breakpoint-medium) {
        display: flex;
        align-items: end;
        justify-content: space-between;
      }

      @media (min-width: $breakpoint-large) {
        margin-bottom: 96px;
      }

      br, button {
        display: none;

        @media (min-width: $breakpoint-medium) {
          display: inherit;
        }
      }
    }

    & > div:nth-of-type(2) {
      display: grid;
      gap: 56px;

      @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        & > div:nth-of-type(1), & > div:nth-of-type(4) {
          flex: 1 1 calc(57% - 32px);
        }

        & > div {
          flex: 1 1 calc(43% - 32px);
        }
      }

      @media (min-width: $breakpoint-large) { 
        gap: 32px;
      }

      & > div {
        position: sticky;
        margin-bottom: 120px;

        border-radius: 16px;
        overflow: hidden;

        background-color: $color-cinza-escuro;

        padding: 32px 24px;

        @media (min-width: $breakpoint-medium) {
          background-color: $color-cinza-escuro !important;
        }

        @media (min-width: $breakpoint-large) {
          padding: 24px 48px 48px;
          height: 500px;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        gap: 36px;

        img {
          height: 250px;
        }

        div:last-of-type {
          & > span {
            display: block;
            font-size: $font-size-strong-mobile;
            font-weight: 600;

            margin-bottom: 8px;

            @media (min-width: $breakpoint-large) {
              font-size: 24px;
            }
          }

          small {
            font-size: 12px;
            //font-size: $font-size-p-mobile;

            color: $color-cinza-medio;
            //opacity: 0.7;

            //line-height: 17px;
            font-weight: 300 !important;

            letter-spacing: -0.2px;
            
            span {
              display: none;
            }
            
            @media (min-width: $breakpoint-large) {
              font-size: 16px;

              small {
                line-height: 20px !important;
                display: block;
              }

              span {
                display: inherit;
              }
            }
          }
        }
      }

      & > div:nth-of-type(1) {
        top: calc(60px + 24px);
        background-color: #141414;

        
        @media (min-width: $breakpoint-large) {
          display: flex;
          
          padding-top: 64px;

          position: relative;
          top: 0;

          img {
            position: absolute;
            bottom: -120px;
            left: 50%;
            transform: translateX(-50%);

            height: 374px;
          }
        }
      }
      & > div:nth-of-type(2) {
        top: calc(60px + 48px);
      }
      & > div:nth-of-type(3) {
        top: calc(60px + 72px);
        background-color: #333333;
        

        @media (min-width: $breakpoint-large) {
          display: flex;

          padding-top: 64px;

          position: relative;
          top: 0;
          
          img {
            position: absolute;
            bottom: -120px;
            left: 50%;
            transform: translateX(-50%);

            height: 340px;
          }
        }
      }
      & > div:nth-of-type(4) {
        top: calc(60px + 96px);
        background-color: #444444;

        @media (min-width: $breakpoint-large) {
          display: grid;
          grid-template-columns: 257px 1fr;
          gap: 32px;
          align-items: center;

          img {
            height: 342px;
          }
        }
      }

      @media (min-width: $breakpoint-medium) {
        & > div {
          position: static;
          margin: 0;
        }
      }

      & > button {
        display: block;
        margin: 64px auto 0;
  
        @media (min-width: $breakpoint-medium) {
          display: none;
        }
      }
    }
  }
}

.faq_container {
  & > div {
    strong {
      @include subtitle($color-rosa-yume);
    }

    display: grid;
    gap: 64px;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 250px 1fr;
    }

    @media (min-width: $breakpoint-large) {
      grid-template-columns: 420px 1fr;
      gap: 120px;
    }

    & > div:first-of-type {
      div {
        position: sticky;
        top: 124px;
        z-index: 100;

        button {
          display: none;
        }

        @media (min-width: $breakpoint-large) {
          button {
            margin-top: 24px;
            display: block;
          }
        }
      }
    }

    & > div:last-of-type {
      display: grid;
      gap: 24px;

      & > div {
        padding: 32px /* 32px 0 */;
        background-color: $color-cinza-claro;
        border-radius: 24px;

        & > div:first-of-type {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          span {
            font-size: 18px;
          }

          svg {
            transition: transform 0.3s ease;
          }

         // padding-bottom: 16px;
        }

        & > div:last-of-type {
          max-height: 0;
          overflow: hidden;
          transition: all /* max-height */ 0.3s ease, opacity 0.3s ease;
          opacity: 0;

          &.visible {
            //max-height: fit-content; /* Ajuste conforme necessário */
            max-height: 100px;
            opacity: 1;

            margin-top: 12px;
            padding-top: 16px;
            border-top: 1px solid $color-cinza-medio;
          }

          /* margin-top: 16px;
          padding: 16px 0 0;*/
          

          //padding-bottom: 32px;

          
          opacity: 0.7;
        }
      }
    }
  }
}