.testimonials_container {
  & > div {
    margin: 0;
    width: 100%;

    @media (min-width: $breakpoint-large) {
      @include container();
    }

    & > * {
      padding-left: 20px;
    }

    strong {
      @include subtitle($color-rosa-yume);
    } 

    h2 {
      margin-bottom: 56px;
    }

    @media (min-width: $breakpoint-large) {
      h2, strong {
        display: block;
        text-align: center;
      }
      
      h2 {
        margin-bottom: 72px;
      }
    }

    small {
      margin: auto;
      display: block;
      text-align: center;
     
      font-size: $font-size-p-mobile;
      color: $color-cinza-escuro;
      opacity: 0.7;

      margin-top: 80px;
      margin-bottom: 48px;
    }

    & > /* div:not(:first-of-type) */ ul:first-of-type {
      @include carrousel();

      @media (min-width: $breakpoint-medium) {
        grid-auto-columns: 44%;
        padding-bottom: 4px;
      }

      gap: 24px;

      padding-right: 20px;

      /* div */ li {
        height: 300px;
        background-color: $color-cinza-claro;

        padding: 32px;
        border-radius: 24px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        cursor: default;
        transition: all 0.5s ease-in;
        &:hover {
          background-color: #FFF0F2;
        }

        p {
          line-height: 20px;
        }

        span {
          color: $color-rosa-yume;
        }
      }
    }

    & > /* div:last-of-type */ ul:last-of-type {
      @include carrousel(5);
      grid-auto-columns: 60%;

      & > * {
        align-self: center;
        justify-self: center;
      }

      @media (min-width: $breakpoint-medium) {
        grid-auto-columns: 29%;
        padding-bottom: 4px;
      }

      @media (min-width: $breakpoint-large) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}