$color-rosa-yume: #FF4A71;
$color-azul: #2233E0;
$color-branco: #FFFFFF;
$color-cinza-claro: #F4F4F4;
$color-cinza-medio: #CCCCCC;
$color-cinza-escuro: #1E1E1E;
$color-preto: #000000;

$font-size-h1-mobile: 42px;
$font-size-h1-desktop: 60px;

$font-size-h2-mobile: 32px;
$font-size-h2-desktop: 56px;

$font-size-strong-mobile: 18px;
$font-size-strong-desktop: 24px;

$font-size-p-mobile: 14px;
$font-size-p-desktop: 18px;

$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-ultrawide: 1536px;//1920px;