@import "../../components/index";

.home_container {
  background-color: $color-cinza-escuro;
  color: $color-branco;

  & > div {
    position: relative;

    //height: 750px;
    height: 70vh;

    @media (min-width: $breakpoint-large) {
      height: 70vh;
    }

    display: flex;
    /* flex-direction: column;
    justify-content: end; */
    justify-content: space-between;
    align-items: end;
    
    h1 {
      font-size: 36px;
      max-width: 457px;
      margin-bottom: 32px;
  
      @media (min-width: $breakpoint-medium) {
        font-size: 60px;
      }
    }

    & > div:last-of-type {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: end;
      }
    }
  }
  
}

.maquininha_container {
  & > div {
    display: grid;
    gap: 80px;

    & > div:nth-of-type(1) {
      max-width: 424px;
      text-align: center;
      margin: 0 auto;

      @media (min-width: $breakpoint-large) {
        max-width: 724px;
      }
    }

    & > div:nth-of-type(2) {
      @media (min-width: $breakpoint-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //grid-template-columns: 364px 1fr;
        gap: 56px;

        //align-items: center;
      }
      @media (min-width: $breakpoint-large) { 
        grid-template-columns: 500px 1fr;
        gap: 120px;
      }

      & > div:nth-of-type(1) {
        display: none;



        h3 {
          font-size: 28px;
        }
        p {
          margin: 24px 0 32px;
        }

        @media (min-width: $breakpoint-medium) {
          display: block;
        }

        @media (min-width: $breakpoint-large) {
          h3 {
            font-size: 42px;
            max-width: 362px;
          }
          p {
            font-size: $font-size-p-desktop;
          }
        }
      }

      & > div:nth-of-type(2) {
        display: grid;
        gap: 56px;
  
        & > div {
          display: grid;
          grid-template-columns: 48px 1fr;
          gap: 16px;

          @media (min-width: $breakpoint-large) {
            grid-template-columns: 64px 1fr;
            gap: 32px;
            svg {
              height: 64px;
              width: 64px;
            }
          }
        }
      }
    }
  }
}

.story_container {
  padding-top: 0;

  & > div {
    position: relative;

    & > div:first-of-type {
      background-image: url('assets/imgs/story-photo-desktop.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      background-color: black;
      border-radius: 24px;

      height: 700px;

      @media (min-width: $breakpoint-large) {
        height: 565px;
      }
    }

    & > div:nth-of-type(2) {
      background-color: $color-branco;
      padding: 48px 32px;
      border-radius: 24px;

      margin-top: -200px;

      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

      @media (min-width: $breakpoint-medium) {
        position: absolute;
        bottom: 32px;
        left: 32px;

        width: calc(100% - 64px);
      }

      @media (min-width: $breakpoint-large) {
        bottom: 62px;
        left: 62px;

        width: 440px;
      }

      h3 {
        margin-bottom: 24px;
      }

      p + p {
        margin-top: 12px;
      }

      button {
        margin-top: 32px;
        width: 100%;
      }
    }
  }
}

.online_container {
  background-color: $color-preto;
  color: $color-branco;

  & > div {
    margin: 0;
    width: 100%;
    max-width: inherit;

    @media (min-width: $breakpoint-ultrawide) {
      @include container();
    }

    & > * {
      padding: 0 20px;
      @media (min-width: $breakpoint-medium) {
        padding-left: 10%;
      }

      @media (min-width: $breakpoint-ultrawide) {
        padding-left: 0;
      }
    }

    display: grid;
    gap: 64px;

    & > div:nth-of-type(1) {
      h2 {
        max-width: 774px;
      }
    }

    & > div:nth-of-type(2) {
      @include carrousel(4);
      gap: 16px;

      grid-auto-columns: 90%;

      @media (min-width: $breakpoint-medium) {
        grid-auto-columns: 44%;
        padding-bottom: 4px;
      }

      @media (min-width: $breakpoint-large) {
        grid-template-columns: inherit;
        grid-auto-columns: 30%;
      }

      @media (min-width: $breakpoint-ultrawide) {
        grid-template-columns: repeat(4, 1fr);
      }

      & > div {
        border-radius: 16px;
        overflow: hidden;

        background-color: $color-cinza-escuro;
        //border: 1px solid $color-cinza-claro;

        padding: 32px 24px;

        height: 500px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          height: 250px;

          @media (min-width: $breakpoint-ultrawide) {
            height: 250px;
          }
        }

        div:last-of-type {
          span {
            display: block;
            font-size: $font-size-strong-mobile;
            font-weight: 600;

            margin-bottom: 8px;
          }

          small {
            //font-size: $font-size-p-mobile;
            font-size: $font-size-p-mobile;

            color: $color-cinza-medio;
            //opacity: 0.7;

            //line-height: 17px;
            font-weight: 300 !important;

            letter-spacing: -0.2px;
            
            @media (min-width: $breakpoint-medium) {
              font-size: 16px;
            }
          }

          a {
            display: flex;
            justify-content: end;
            align-items: center;

            color: $color-rosa-yume;
            font-weight: 600;

            margin-top: 24px;
          }
        }
      }
    }

  }
}

.calculator_container {
  background-color: $color-cinza-claro;
  & > div {
    width: 100%;
    margin: 0;

    @media (min-width: $breakpoint-medium) {
      @include container();
    }

    & > div:first-of-type {
      h2 {
        max-width: 250px;

        @media (min-width: $breakpoint-medium) {
          max-width: inherit;
        }

        /* br {
          display: none;
          @media (min-width: $breakpoint-medium) {
            display: block;
          }
        } */
      }
      

      padding: 0 20px;
      margin-bottom: 64px;
    }
    
    & > div:last-of-type {
      background-color: $color-branco;
      padding: 48px 32px 80px;

      border-radius: 24px;

      & > div:first-of-type {
        & > div {
          @include toggle-light();
          width: fit-content;
        }

        margin-bottom: 64px;
      }

      & > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (min-width: $breakpoint-medium) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $breakpoint-large) {
          grid-template-columns: repeat(3, 1fr);
        }

        & > div {
          background-color: $color-cinza-claro;
          padding: 16px 32px;
          border-radius: 24px;

          display: flex;
          justify-content: space-between;
          align-items: center;

          @media (min-width: $breakpoint-medium) {
            display: grid;
            gap: 8px;
          }

          span {
            opacity: 0.7;
          }
          strong {
            color: $color-cinza-escuro;
            font-weight: 400;
            margin: 0;

            @media (min-width: $breakpoint-medium) {
              font-size: 32px;
            }
          }
        }
      }

      & > div:last-of-type {
        margin-top: 96px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (min-width: $breakpoint-medium) {
          flex-direction: row;
        }

        button:last-of-type {
          background-color: $color-cinza-medio;
          color: $color-cinza-escuro;
        }
      }
    }
  }

  
}

.benefits_container {
  & > div {
    margin: 0;
    width: 100%;
    max-width: inherit;

    @media (min-width: $breakpoint-ultrawide) {
      @include container();
    }

    & > * {
      padding: 0 20px;

      @media (min-width: $breakpoint-medium) {
        padding-left: 10%;
      }

      @media (min-width: $breakpoint-ultrawide) {
        padding-left: 0;
      }
    }

    display: grid;
    gap: 64px;

    @media (min-width: $breakpoint-large) {
      gap: 80px;
    }

    & > div:nth-of-type(1) {
      h2 {
        max-width: 728px;
      }
    }

    & > div:nth-of-type(2) {
      overflow: visible;
      @include carrousel(8);
      gap: 16px;

      grid-auto-columns: 88%;

      @media (min-width: $breakpoint-medium) {
        grid-auto-columns: 44%;
        padding-bottom: 4px;
      }

      @media (min-width: $breakpoint-large) {
        //grid-template-columns: inherit;
        //grid-auto-columns: 42%;
        grid-template-columns: 369px 640px 360px;
        gap: 32px;
      }

      @media (min-width: $breakpoint-ultrawide) {
        grid-template-columns: 369px 2fr 1fr;
      }

      
      & > div {
        border-radius: 16px;
        height: 280px;

        padding: 32px 40px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: $breakpoint-medium) {
          height: 500px;
        }
      }

      & > div:nth-of-type(1) {
        background-color: $color-cinza-escuro;

        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 8px;

        max-width: 369px;

        order: 1;

        @media (min-width: $breakpoint-medium) {
          order: -1;
          gap: 16px;
        }

        p {
          color: $color-cinza-claro;
          opacity: 1;

          font-size: $font-size-strong-mobile;

          @media (min-width: $breakpoint-medium) {
            font-size: $font-size-strong-desktop;
          }
        }

        span {
          color: $color-rosa-yume;
          font-weight: 700;
        }
      }
      & > div:nth-of-type(2) {
        padding: 0;
        overflow: hidden;

        position: relative;

        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
  
          width: 280px;
          height: 40px;
  
          padding: 0 16px;
  
          border-radius: 100px;
  
          background-color: $color-branco;
  
          position: absolute;
          bottom: 16px;
          left: 16px;

          width: fit-content;
  
          @media (min-width: $breakpoint-medium) {
            bottom: 40px;
            left: 40px;
          }
  
          span {
            font-size: 12px;

            @media (min-width: $breakpoint-medium) {
              font-size: 14px;
            }
          }
  
          img {
            width: 24px;
            height: 24px;
          }
        }

        @media (min-width: $breakpoint-medium) {
          width: 640px;
        }
        @media (min-width: $breakpoint-ultrawide) {
          width: inherit;
        }
      }
      & > div:nth-of-type(3) {
        order: 3;

        background-color: $color-rosa-yume;
        color: $color-branco;
        
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 32px;

        span, small {
          display: block;
        }

        span {
          font-size: 48px;
        }

        small {
          font-size: $font-size-p-mobile;

          @media (min-width: $breakpoint-medium) {
            font-size: 16px;
          }
        }
      }
    }

    & > div:last-of-type {
      @media (min-width: $breakpoint-medium) {
        @include container();
      }

      a {
        display: flex;
        justify-content: end;
        align-items: center;

        color: $color-rosa-yume;

        font-size: $font-size-strong-mobile;
        font-weight: 600;

        text-decoration: underline;

        @media (min-width: $breakpoint-medium) {
          font-size: 20px;
        }
      }
    }
  }
}