@charset "UTF-8";
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: 100000;
  /* nav {
    display: none;

    ul {
      display: flex;
      gap: 24px;

      li.selected {
        color: $color-rosa-yume;
      }

      li {
        transition: all 0.2s ease-in;

        &:hover {
          color: $color-rosa-yume;
        }
      }
    }
  } */
}
header > div {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  header > div {
    padding: 20px 0;
  }
}
header a {
  line-height: 0;
}
header img {
  max-height: 28px;
}
@media (min-width: 768px) {
  header img {
    max-height: 32px;
  }
}
header button {
  padding: 0;
  background-color: transparent;
}
header button:hover {
  background-color: transparent !important;
}
header nav:first-of-type {
  padding-top: 96px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  transition: all 0.5s ease;
  transform: translateX(100%);
  background: rgba(255, 255, 255, 0.99);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: -1;
}
header nav:first-of-type ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-items: center;
}
header nav:first-of-type ul li {
  padding: 0 24px;
  height: 50px;
  line-height: 40px;
  border-left: 8px solid transparent;
  font-size: 18px;
  transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
header nav:first-of-type ul li:hover {
  color: #FF4A71;
}
header nav:first-of-type ul li.selected {
  color: #FF4A71;
}
header nav:last-of-type {
  display: none;
}
header nav:last-of-type ul {
  display: flex;
  gap: 24px;
}
header nav:last-of-type ul li.selected {
  color: #FF4A71;
}
header nav:last-of-type ul li {
  transition: all 0.2s ease-in;
}
header nav:last-of-type ul li:hover {
  color: #FF4A71;
}
@media (min-width: 768px) {
  header button {
    display: none;
  }
  header nav:first-of-type {
    display: none;
  }
  header nav:last-of-type {
    display: flex;
  }
}

footer {
  background-color: #000000;
  color: #F4F4F4;
  padding: 98px 0 54px;
}
footer > div {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: grid;
  gap: 80px;
}
footer > div > div:first-of-type {
  display: grid;
  gap: 54px;
}
@media (min-width: 1024px) {
  footer > div > div:first-of-type {
    grid-template-columns: 1fr 100px 202px 306px;
    gap: 88px;
  }
}
footer > div > div:first-of-type strong {
  color: #FFFFFF;
  display: block;
  margin-bottom: 24px;
}
footer > div > div:first-of-type svg {
  margin-bottom: 24px;
}
footer > div > div:first-of-type p {
  color: #CCCCCC;
}
footer > div > div:first-of-type > div:first-of-type ul {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
footer > div > div:first-of-type > div:not(:first-of-type) li {
  margin-bottom: 12px;
  color: #CCCCCC;
}
footer > div > div:last-of-type {
  border-top: 1px solid #CCCCCC;
  padding-top: 40px;
  text-align: center;
}

button {
  padding: 16px 32px;
  background-color: #FF4A71;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 100px;
  transition: background-color 0.3s ease-in;
}
button:hover {
  background-color: #FF6986;
}

.testimonials_container {
  padding-bottom: 20px;
}
@media (min-width: 1024px) {
  .testimonials_container {
    padding-bottom: 120px;
  }
}
.testimonials_container > div {
  margin: 0;
  width: 100%;
}
@media (min-width: 1024px) {
  .testimonials_container > div {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}
.testimonials_container > div > * {
  padding-left: 20px;
}
.testimonials_container > div strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}
.testimonials_container > div h2 {
  margin-bottom: 56px;
}
@media (min-width: 1024px) {
  .testimonials_container > div h2, .testimonials_container > div strong {
    display: block;
    text-align: center;
  }
  .testimonials_container > div h2 {
    margin-bottom: 72px;
  }
}
.testimonials_container > div small {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #1E1E1E;
  opacity: 0.7;
  margin-top: 80px;
  margin-bottom: 48px;
}
.testimonials_container > div > ul:first-of-type {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
  grid-auto-columns: 80%;
  gap: 24px;
  padding-right: 20px;
  /* div */
}
@media (min-width: 1024px) {
  .testimonials_container > div > ul:first-of-type {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .testimonials_container > div > ul:first-of-type {
    grid-auto-columns: 44%;
    padding-bottom: 4px;
  }
}
.testimonials_container > div > ul:first-of-type li {
  height: 300px;
  background-color: #F4F4F4;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  transition: all 0.5s ease-in;
}
.testimonials_container > div > ul:first-of-type li:hover {
  background-color: #FFF0F2;
}
.testimonials_container > div > ul:first-of-type li p {
  line-height: 20px;
}
.testimonials_container > div > ul:first-of-type li span {
  color: #FF4A71;
}
.testimonials_container > div > ul:nth-of-type(2) {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
  grid-auto-columns: 80%;
  grid-auto-columns: 60%;
}
@media (min-width: 1024px) {
  .testimonials_container > div > ul:nth-of-type(2) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.testimonials_container > div > ul:nth-of-type(2) > * {
  align-self: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .testimonials_container > div > ul:nth-of-type(2) {
    grid-auto-columns: 29%;
    padding-bottom: 4px;
  }
}
@media (min-width: 1024px) {
  .testimonials_container > div > ul:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
  }
}

.form_container {
  position: relative;
  padding-bottom: 64px;
}
@media (min-width: 1024px) {
  .form_container {
    padding-bottom: 320px;
  }
}
.form_container > div {
  background-color: #FF4A71;
  color: #FFFFFF;
  border-radius: 24px;
  padding-top: 96px;
  display: grid;
  gap: 56px;
}
@media (min-width: 1024px) {
  .form_container > div {
    grid-template-columns: 1fr 400px;
    gap: 56px;
    padding: 96px;
    height: 530px;
  }
}
.form_container > div > div {
  width: 100%;
  max-width: calc(100% - 64px);
  margin: auto;
}
@media (min-width: 1024px) {
  .form_container > div > div {
    max-width: 100%;
    margin: 0;
  }
}
.form_container > div > div span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 16px;
}
.form_container > div > div h4 {
  font-size: 28px;
}
@media (min-width: 1024px) {
  .form_container > div > div h4 {
    font-size: 42px;
  }
}
.form_container form {
  background-color: #FFFFFF;
  color: #000000;
  padding: 48px 32px 48px;
  border-radius: 24px;
  border: 1px solid #F4F4F4;
}
.form_container form strong {
  font-size: 24px;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}
.form_container form div {
  background-color: #fff;
  display: grid;
  border: 1px solid #F4F4F4;
  border-radius: 24px;
  margin-bottom: 24px;
}
.form_container form div input {
  all: unset;
  padding: 16px;
}
.form_container form div input:not(:first-of-type) {
  border-top: 1px solid #F4F4F4;
}
.form_container form textarea {
  all: unset;
  border-radius: 24px;
  padding: 16px;
  height: 120px;
}
.form_container form button {
  margin-top: 32px;
  width: 100%;
}

.faq_container {
  padding-bottom: 240px;
}
.faq_container > div {
  display: grid;
  gap: 64px;
}
.faq_container > div strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .faq_container > div {
    grid-template-columns: 250px 1fr;
  }
}
@media (min-width: 1024px) {
  .faq_container > div {
    grid-template-columns: 420px 1fr;
    gap: 120px;
  }
}
.faq_container > div > div:first-of-type div {
  position: sticky;
  top: 124px;
  z-index: 100;
}
.faq_container > div > div:first-of-type div button {
  display: none;
}
@media (min-width: 1024px) {
  .faq_container > div > div:first-of-type div button {
    margin-top: 24px;
    display: block;
  }
}
.faq_container > div > div:last-of-type {
  display: grid;
  gap: 24px;
}
.faq_container > div > div:last-of-type > div {
  padding: 32px;
  background-color: #F4F4F4;
  border-radius: 24px;
}
.faq_container > div > div:last-of-type > div > div:first-of-type {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.faq_container > div > div:last-of-type > div > div:first-of-type span {
  font-size: 18px;
}
.faq_container > div > div:last-of-type > div > div:first-of-type svg {
  transition: transform 0.3s ease;
  height: 24px;
  width: 24px;
}
.faq_container > div > div:last-of-type > div > div:last-of-type {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  /* margin-top: 16px;
  padding: 16px 0 0;*/
  opacity: 0.7;
}
.faq_container > div > div:last-of-type > div > div:last-of-type.visible {
  max-height: 100px;
  opacity: 1;
  margin-top: 12px;
  padding-top: 16px;
  border-top: 1px solid #CCCCCC;
}

@keyframes customFadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 32px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUpCustom {
  animation-name: customFadeInUp;
  animation-duration: 0.6s; /* Duração da animação */
  animation-fill-mode: both; /* Garante que a animação permaneça no estado final */
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Semibold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 42px;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 32px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 56px;
  }
}

h1, h2, h3, h4 {
  font-weight: 600;
}

strong {
  font-size: 18px;
}
@media (min-width: 1024px) {
  strong {
    font-size: 24px;
  }
}

p {
  font-size: 14px;
  /* color: $color-cinza-escuro;
  opacity: 0.7; */
  color: #626262;
}
@media (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}

strong {
  color: #FF4A71;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}

section {
  padding: 120px 0;
}
section > * {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

a {
  transition: color 0.5s ease;
}
a svg {
  transition: transform 0.5s ease;
}
a:hover {
  color: #FF6986 !important;
}
a:hover svg {
  transform: translateX(4px);
}
a:hover svg path {
  fill: #FF6986 !important;
}

.home_container > div {
  display: grid;
  gap: 96px;
}
@media (min-width: 768px) {
  .home_container > div {
    grid-template-columns: 408px 1fr;
  }
}
@media (min-width: 1024px) {
  .home_container > div {
    grid-template-columns: 538px 1fr 250px;
    gap: 0px;
  }
}
.home_container > div > div:first-of-type h1 {
  font-size: 36px;
  letter-spacing: -1.7px;
}
@media (min-width: 768px) {
  .home_container > div > div:first-of-type h1 {
    font-size: 58px;
  }
}
.home_container > div > div:first-of-type p {
  margin: 16px 0 24px;
  max-width: 480px;
}
.home_container > div img {
  margin: 0 auto;
  /* & > * {
    cursor: pointer;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.03);
    }
  } */
  cursor: pointer;
  transition: transform 0.5s ease;
  cursor: default;
}
@media (min-width: 1024px) {
  .home_container > div img {
    margin-left: 54px;
  }
}
.home_container > div img:hover {
  transform: scale(1.03);
}
.home_container > div > ul {
  display: none;
}
.home_container > div > ul > li {
  transition: transform 0.5s ease;
}
.home_container > div > ul > li:hover {
  transform: translateY(-8px);
}
.home_container > div > ul > li:active {
  transform: translateY(0px);
}
@media (min-width: 1024px) {
  .home_container > div > ul {
    display: grid;
    gap: 32px;
  }
}
.home_container > div > ul span {
  font-size: 24px;
  color: #FF4A71;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 12px;
}
.home_container > div > ul p {
  font-size: 20px;
}

.benefits_container {
  padding: 80px 0;
}
.benefits_container > div > ul {
  display: grid;
  gap: 80px;
}
@media (min-width: 768px) {
  .benefits_container > div > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .benefits_container > div > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
.benefits_container > div > ul svg {
  display: block;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .benefits_container > div > ul svg {
    margin: 0;
  }
}
.benefits_container > div > ul > li {
  transition: transform 0.5s ease;
}
.benefits_container > div > ul > li:hover {
  transform: translateY(-8px);
}
.benefits_container > div > ul > li:active {
  transform: translateY(0px);
}
.benefits_container > div > ul > li div:last-of-type {
  margin-top: 32px;
  text-align: center;
  padding: 0 24px;
}
@media (min-width: 768px) {
  .benefits_container > div > ul > li div:last-of-type {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .benefits_container > div > ul > li div:last-of-type {
    text-align: start;
  }
}
.benefits_container > div > ul > li div:last-of-type span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.benefits_container > div > ul > li div:last-of-type small {
  font-size: 14px;
  color: #1E1E1E;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .benefits_container > div > ul > li div:last-of-type span {
    font-size: 22px;
  }
  .benefits_container > div > ul > li div:last-of-type small {
    font-size: 18px;
  }
}/*# sourceMappingURL=index.css.map */